# Ignore any additions to the in and out folders
resources/ocr/
resources/worddocs/
resources/misc-no-vc/
resources/old/
resources/fonts/
test/
env/
venv/
workspace/
.idea/
.log
.DS_Store

# Python bytecode
__pycache__/
*.py[cod]

